.Kikuchi {
  h2 {
      background-color: white;
      position: relative;
      padding: 1.5rem 2rem;
      border: 4px solid #000;
  }

  h2:before,
  h2:after {

    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    border-top: 4px dotted #000;
  }

  h2:before {
      top: 6px;
  }

  h2:after {
      bottom: 6px;
  }

  table.travel {
    border-collapse: separate;
    width: 100%;
    max-width: 700px;
  }
  
  table.travel th, table.travel td {
    background-color: white;
    border: 2px solid black; /* 枠線の太さと色 */
    border-radius: 0 15px 15px 0;
    padding: 1em;
  }
  table.travel th {
    background-color: #4d9bc1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 20%;
    min-width: 4em;
    position: relative;
    border-radius: 20px; /* 角を丸くして楕円形に */
  }

  table.travel th::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    /* border: 10px solid transparent; */
    border-left: 10px solid #4d9bc1; /* 吹き出し矢印部分の色 */
    z-index: 2;
  }

  table.travel th::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 2px);
    transform: translateY(-50%);
    /* border: 12px solid transparent; */
    border-left: 12px solid #fff; /* 矢印の背景色 */
    z-index: 1;
  }

  table.travel td.place {
    font-family: 'Arial', 'Helvetica', 'sans-serif'; /* ゴシック体を指定 */
    font-size: 1.5em; /* 文字サイズを大きく設定 */
    font-weight: bold; /* 文字を太字にする（必要に応じて） */
  }

  .bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
  }
  .Circles {
    background-image: radial-gradient(circle at center center, #ffc107, #ffe9a7), repeating-radial-gradient(circle at center center, #ffc107, #ffc107, 20px, transparent 40px, transparent 20px);
    background-blend-mode: multiply;
  }
}